/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 jun. 2022, 15:30:47
    Author     : asus
*/
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: white ;
    font-family: Arial, Helvetica, sans-serif;
}



.imagenes{
    text-align: center;
}

