
<html>
    <head>
        <title>Adopcion de Mascotas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/index.css"/>
    </head>
    <body>
        <div class="container">
            <a class=" title"><h1><img src="images/Logo.png" width="50px" height="50px"></span>Peludos - Alimentos</h1></a>
            <!--<h1>Peludos</h1>-->

            <nav>

                <ul class="menu">

                    <li ><a href="index.html">Inicio</a></li>
                    <li ><a href="#">Animales en adopcion</a>
                        <ul class="submenu">
                            <li><a href="perros.html">Perros</a></li>
                            <li><a href="gatos.html">Gatos</a></li>
                        </ul>
                    </li>
                    <li ><a href="#">Servicios</a>
                        <ul class="submenu">
                            <li><a href="consejos.html">Consejos</a></li>
                            <li><a href="Alimentos.html">Alimentos</a></li>
                        </ul>
                    </li>
                    <li ><a href="/leercomentarios">Comentarios</a></li>
                    <li ><a href="acercaDe.html">¿Quienes somos?</a></li>
                    <li ><a href="/donacionesN">Donaciones</a></li>
                    <li ><a href="login.html">Iniciar sesion</a></li>
                </ul>
            </nav>
        </div>

        <!--Textos-->
        <div class="text">
            <h1>Aprende a alimentar a tu mascota correctamente... Encontraras articulos, ideas, marcas y recomendaciones de que alimentos podrias darle a tu peludito</h1>
        </div>
        <!--Imagenes-->
        <div class="imagenes">
            <img src="images/alimentos.jpeg" class="alimentos" alt="Esto es una imagen de alimentos">

        </div>

    </body>
</html>
