<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantilla/template::head">
    </head>
    <body>
        <header th:replace="plantilla/template::header"></header>
        <div class="container mt-5">
            <h1 th:text="#{accion.leerusuariosU}" style="text-align: center;"></h1>
            <th:block th:each="user : ${usuario}">
                <div class="row justify-content-center ">
                    <div class="card" style="width: 30rem; margin: 3rem 3rem 3rem 3rem;">
                        <div class="row">


                            <div class="col-md-7">
                                <img th:src="@{'/fotosU/' + ${user.getImagen}}" class="float-left ml-1" style="max-height: 75%;
                                     max-width: 75%;" th:alt="${user.getImagen}">
                                    <h3 class="card-title" th:text="${user.getNombre}"></h3>
                                    <h4 th:text="${user.getApellido1}"></h4>
                                    <p th:text="${user.getRoles}"></p>

                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

        <!-- comment -->
        <footer th:replace="plantilla/template::footer"></footer>
    </body>
</html>

