<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantilla/template::head"></head>

    <body>
        <header th:replace="plantilla/template::header"></header>


        <div class="descripcion" align-items="center">
            <h1>Informacion de donaciones realizadas</h1>
        </div>

        <div class="container">
            <h1 th:text="${titulo}"></h1>
            <table class="table table-dark table-striped"> <thead class="thead-dark">
                    <tr>
                        <th scope="col">Numero de tarjeta</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Monto</th>
                    </tr>
                </thead>

                <tbody>
                    <th:block th:each="user : ${donacion}">
                        <tr>
                            <td th:text="${user.getNumero}"></td>
                            <td th:text="${user.getCodigo}"></td>
                            <td th:text="${user.getMonto}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
        <section class="py-4 mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{accion.reportedonaciones}" th:href="@{/leerdonaciones/Donaciones}"
                           class="btn btn-dark">
                            <i class="fas fa-file"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="plantilla/template2::footer"></footer>
    </body>
</html>


